<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{link-to "Home" "index" class="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          {{link-to "Actors" "actors"}}
        </li>
        <li>
          {{link-to "Movies" "movies"}}
        </li>
        <li>
          {{link-to "Genres" "genres"}}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      {{outlet}}
    </div>
  </div>
</div>
